<div class="row">
  <div class="span3 bs-docs-sidebar">
    <ul class="nav nav-tabs nav-stacked affix nav-left">
      <li><a tabindex="-1" href="#活跃时段">活跃时段</a></li>
      <li><a tabindex="-1" href="#每月微博数">每月微博数</a></li>
      <li><a tabindex="-1" href="#微博来源统计">最爱用什么上微博</a></li>
      <li><a tabindex="-1" href="#评论最多">评论最多</a></li>
      <li><a tabindex="-1" href="#转发最多">转发最多</a></li>
      <li><a tabindex="-1" href="#被赞最多">被赞最多</a></li>
      <li><a tabindex="-1" href="#第一条">第一条微博</a></li>
      <li><a tabindex="-1" href="#每日状态数">每日状态数</a></li>
      <li><a tabindex="-1" href="#谁最关心我">谁最关心我</a></li>
    </ul>
  </div>
  <div class="span9">
    <section id="活跃时段">
      <div class="page-header"><h1>活跃时段</h1></div>
      <div id="hours" class="chart"> </div>
    </section>
    <section id="每月微博数">
      <div class="page-header"><h1>每月微博数</h1></div>
      <div id="months" class="chart"> </div>
    </section>
    <section id="微博来源统计">
      <div class="page-header"><h1>微博来源统计</h1></div>
      <div id="sources" style="height: 300px;"> </div>
      <table class="table table-striped">
              <thead>
                <tr>
                  <th>来源</th>
                  <th>次数</th>
                </tr>
              </thead>
              <tbody>
                <% @source_raw.each do |k| %>
                <tr>
                <td><%= raw(k[0]) %></td>
                 <td><%= k[1] %>次</td>
               </tr>
        <% end %>
                
              </tbody>
            </table>
      <ul class="source-list">
        
      </ul>
    </section>
    <section id="评论最多">
      <div class="page-header"><h1>评论最多的微博</h1></div>
      <p>
        <%= render partial: 'weibo', locals: { weibo: @max_comments_count_weibo } %>
      </p>
    </section>
    <section id="转发最多">
      <div class="page-header"><h1>转发最多的微博</h1></div>
      <p>
        <%= render partial: 'weibo', locals: { weibo: @max_reposts_count_weibo} %>
      </p>
    </section>
    <section id="被赞最多">
      <div class="page-header"><h1>被赞最多的微博</h1></div>
      <p>
        <%= render partial: 'weibo', locals: { weibo: @max_attitudes_count_weibo} %>
      </p>
    </section>
    <section id="第一条">
      <div class="page-header"><h1>第一条微博</h1></div>
      <%= render partial: 'weibo', locals: { weibo: @first_status } %>
    </section>
    <section id="每日状态数">
      <div class="page-header"><h1>每日状态数</h1></div>
      您已经注册微博<%= @total_days %>天
      平均每日状态数<%= (@counter.to_f / @total_days).round(2) %>
    </section>
    <section id="谁最关心我">
      <div class="page-header"><h1>谁最关心我</h1></div>
      <div class="row">
  <div class="span5">
          <table class="table table-striped">
             <thead>
                <tr>
                  <th>排名</th>
                  <th>   朋友</th>
                </tr>
              </thead>
              <tbody>
                <% index = 0%>
                <% 5.times do |k| %>
                <% index = index+1 %>
                <tr><td><%= index%></td>
       <td> <span class="span1"><%= link_to image_tag(@close_friends[k][0]['profile_image_url']), "http://weibo.com/#{@close_friends[k][0]['profile_url']}",:class=>"thumbnail",:target => "_blank"%>   </span>
           <%= link_to @close_friends[k][0]['screen_name'],"http://weibo.com/#{@close_friends[k][0]['profile_url']}" %></td>
        </tr>
        <% end %>
               
                
              </tbody>
            </table>
      
      </div>
  <div class="span3"><h4>评论我最多</h4>
        <%= link_to image_tag(@max_comments_user['profile_image_url']), "http://weibo.com/#{@max_comments_user['profile_url']}" %>
        <%= link_to @max_comments_user['screen_name'],"http://weibo.com/#{@max_comments_user['profile_url']}" %>
        <%= @max_comments_user_count %>次
        <br/><br/>
      <h4>@我最多</h4>
        <%= link_to image_tag(@max_mentions_user['profile_image_url']), "http://weibo.com/#{@max_mentions_user['profile_url']}" %>
        <%= link_to @max_mentions_user['screen_name'],"http://weibo.com/#{@max_mentions_user['profile_url']}" %>
      <%= @max_mentions_user_count %>次</div>
</div>  
    </section>
        
    </div>
</div>
<script>
  Morris.Bar({
    element: 'hours',
    data: <%= array_to_morris_data(@statuses) %>,
    xkey: 'key',
    ykeys: ['value'],
    labels: ['微博数']
  });
  Morris.Bar({
    element: 'months',
    data: <%= months_to_morris_data(@first_month, @last_month, @times) %>,
    xkey: 'key',
    ykeys: ['value'],
    labels: ['微博数']
  });
  Morris.Donut({
    element: 'sources',
    data: <%= to_morris_data(@source) %>,
    xkey: 'key',
    ykeys: ['value'],
    labels: ['微博数']
  });
</script>
