
<div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-tabs nav-stacked">
        <li><a tabindex="-1" href="#">活跃时段</a></li>
        <li><a tabindex="-1" href="#">最爱用什么上微博</a></li>
        <li><a tabindex="-1" href="#">评论我最多</a></li>
        <li><a tabindex="-1" href="#">@我最多</a></li>
    </ul>
      </div>
      <div class="span9">

      <div id="hours" style="height: 300px;"> </div>
<script>
Morris.Bar({
  element: 'hours',
  data: <%= array_to_morris_data(@statuses) %>,
  xkey: 'key',
  ykeys: ['value'],
  labels: ['数量']
});
</script>
<% @statuses.each_index do |i| %>
  <li><%=i%>时至<%=i+1%>时 <%=@statuses[i]%>个</li>
<% end %>
<%= @text %>
<p>
  评论最多
  <%=@max_comments_count_weibo['text']%><%=@max_comments_count_weibo['created_at']%><%= link_to '更多', go(session['uid'], @max_comments_count_id.to_s) %>
</p>
<p>
  转发最多
  <%=@max_reposts_count_weibo['text']%><%=@max_reposts_count_weibo['created_at']%><%= link_to '更多', go(session['uid'], @max_reposts_count_id.to_s) %>
</p>
<p>
被赞最多
  <%=@max_attitudes_count_weibo['text']%><%=@max_attitudes_count_weibo['created_at']%><%= link_to '更多', go(session['uid'], @max_attitudes_count_id.to_s) %>
</p>
<p>第一条微博
<%= @first_status['text']%> 发表于 <%= @first_status['created_at'] %> <%= link_to '查看', go(session['uid'], @first_status['id'].to_s) %>
<br>
<%- #为什么不用each呢？因为可能某个月没发状态%>
<% for m in @first_month..@last_month do %>
<p>
  <%= m / 12%>年 <%= m%12 + 1 %>月 <%= @times[m] %>
</p>
<% end %>
<%= @total_days %>
每日状态数<%= (@counter.to_f / @total_days).round(2) %>

<p>
来源
  <% @source.each_pair do |k,v| %>
  <li><%= raw(k) %> <%= v %>次</li>
  <% end %>
</p>
  

      </div>
</div>
