
<div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-tabs nav-stacked">
        <li><a tabindex="-1" href="#">活跃时段</a></li>
        <li><a tabindex="-1" href="#">最爱用什么上微博</a></li>
        <li><a tabindex="-1" href="#">评论我最多</a></li>
        <li><a tabindex="-1" href="#">@我最多</a></li>
    </ul>
      </div>
      <div class="span9">

      <div id="hours" style="height: 300px;"> </div>
      <div id="months" style="height: 300px;"> </div>
      <div id="sources" style="height: 300px;"> </div>
<script>
Morris.Bar({
  element: 'hours',
  data: <%= array_to_morris_data(@statuses) %>,
  xkey: 'key',
  ykeys: ['value'],
  labels: ['微博数']
});
Morris.Bar({
  element: 'months',
  data: <%= months_to_morris_data(@first_month, @last_month, @times) %>,
  xkey: 'key',
  ykeys: ['value'],
  labels: ['微博数']
});
Morris.Donut({
  element: 'sources',
  data: <%= to_morris_data(@source) %>,
  xkey: 'key',
  ykeys: ['value'],
  labels: ['微博数']
});
</script>
<p>
  评论最多
  <%= render partial: 'weibo', locals: { weibo: @max_comments_count_weibo } %>
</p>
<p>
  转发最多
  <%= render partial: 'weibo', locals: { weibo: @max_reposts_count_weibo} %>
</p>
<p>
被赞最多
  <%= render partial: 'weibo', locals: { weibo: @max_attitudes_count_weibo} %>
</p>
<p>第一条微博
  <%= render partial: 'weibo', locals: { weibo: @first_status } %>
<br>
您已经注册微博<%= @total_days %>天
平均每日状态数<%= (@counter.to_f / @total_days).round(2) %>

<ul class="source-list">
来源
  <% @source_raw.each do |k| %>
  <li><%= raw(k[0]) %> <%= k[1] %>次</li>
  <% end %>
</ul>

<p>
评论我最多
  <%= link_to @max_comments_user['screen_name'],"http://weibo.com/#{@max_comments_user['profile_url']}" %>
  <%= @max_comments_user_count %>次
@我最多
  <%= link_to @max_mentions_user['screen_name'],"http://weibo.com/#{@max_mentions_user['profile_url']}" %>
<%= @max_mentions_user_count %>次  
</p>
  
      </div>
</div>
