<div class="row">
  <div class="span3 bs-docs-sidebar">
    <ul class="nav nav-tabs nav-stacked affix nav-left">
      <li><a tabindex="-1" href="#省份分布">省份分布</a></li>
      <li><a tabindex="-1" href="#男女比例">男女比例</a></li>
      <li><a tabindex="-1" href="#users-by-status">发布微博最多</a></li>
      <li><a tabindex="-1" href="#users-by-follower">拥有粉丝最多</a></li>
    </ul>
  </div>
  <div class="span9">
    <section id="省份分布">
      <div class="page-header"><h1>省份分布</h1></div>
      <div id="provinces" class="chart"/>
    </section>
    <section id="男女比例">
      <div class="page-header"><h1>男女比例</h1></div>
      <div id="genders" class="chart"/>
    </section>
    <script>
    Morris.Donut({
      element: 'provinces',
      data: <%= to_morris_data(@provinces) %>
    })
    Morris.Donut({
      element: 'genders',
      data: <%= to_morris_data(@genders) %>
    })
    </script>
    <% @users_by_created_at.each do |user| %>
      <%= link_to image_tag(user['profile_image_url']), "http://weibo.com/#{user['profile_url']}",:class=>"thumbnail",:target => "_blank" %>>
  <li class="span4"> <%= link_to user['screen_name'], "http://weibo.com/#{user['profile_url']}"%>
      <%= user['created_at'] %>
    <% end %>
    <section id="users-by-status">
      <div class="page-header"><h1>用户发布微博数量排名</h1></div>
      <% index = 0 %>

      <% @users_by_statuses.each do |user|%>
        <div class='user-by-status-count userlist'>
          <ul class="thumbnails">
            <li class="span1">
              <% index += 1 %> 
             <div class="rank">
              <% if index == 1%>
             <span class="badge badge-important">1</span>
             <% elsif index == 2 %>
             <span class="badge badge-warning">2</span>
            <% elsif index == 3%>
            <span class="badge badge-success">3</span>
               <%else%>
           
          
            <span class="badge"><%= index %></span>
          </div>
          <% end%>
           
        </li>

  <li class="span1">
    
         <%= link_to image_tag(user['profile_image_url']), "http://weibo.com/#{user['profile_url']}",:class=>"thumbnail",:target => "_blank" %>
  </li>
  <li class="span4"> <%= link_to user['screen_name'], "http://weibo.com/#{user['profile_url']}"%>
          <br/><br/>微博数  <%= user['statuses_count'] %></li>
</ul>
         
        </div>
      <% end %>
      <div id="status-page"></div>
    </section>
    <section id='users-by-follower'>
      <div class="page-header"><h1>用户粉丝数量排名</h1></div>
      <% index = 0 %>
      <% @users_by_followers.each do |user|%>
        <div class='user-by-follower-count userlist'>
           
          
          <ul class="thumbnails">
             <li class="span1">
              <% index += 1 %> 
             <div class="rank">
              <% if index == 1%>
             <span class="badge badge-important">1</span>
             <% elsif index == 2 %>
             <span class="badge badge-warning">2</span>
            <% elsif index == 3%>
            <span class="badge badge-success">3</span>
               <%else%>
           
          
            <span class="badge"><%= index %></span>
          </div>
          <% end%>
           
        </li>

  <li class="span1">
    
          <%= link_to image_tag(user['profile_image_url']), "http://weibo.com/#{user['profile_url']}",:class=>"thumbnail",:target => "_blank"  %></li>
         
          <li>
          <%= link_to user['screen_name'], "http://weibo.com/#{user['profile_url']}"%>
           <br/><br/>粉丝数
          <%= user['followers_count'] %></li>
        </ul>
        </div>
      <% end %>
      <div id="follower-page"></div>
      </section>
  </div>
</div>
<script>
  $('#status-page').bootpag({
      total: <%= (@counter / 10.0).ceil %>,
      maxVisible: 10 
  }).on("page", function(event, num){
      $(".user-by-status-count").css("display","none");
      $(".user-by-status-count").slice((num-1)*10, num*10).css("display","");
  });
  $(".user-by-status-count").css("display","none");
  $(".user-by-status-count").slice(0, 10).css("display","");

  $('#follower-page').bootpag({
      maxVisible: 10,
      total: <%= (@counter / 10.0).ceil %>
  }).on("page", function(event, num){
      $(".user-by-follower-count").css("display","none");
      $(".user-by-follower-count").slice((num-1)*10, num*10).css("display","");
  });
  $(".user-by-follower-count").css("display","none");
  $(".user-by-follower-count").slice(0, 10).css("display","");
</script>
