
<div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-tabs nav-stacked">
        <li><a tabindex="-1" href="#">省份分布</a></li>
        <li><a tabindex="-1" href="#">男女比例</a></li>
        <li><a tabindex="-1" href="#">发布微博最多</a></li>
        <li><a tabindex="-1" href="#">拥有粉丝最多</a></li>
    </ul>
      </div>
      <div class="span9">
          <div id="provinces" style="height: 300px;"> </div>
<div id="genders" style="height: 300px;"> </div>
<script>
Morris.Donut({
  element: 'provinces',
  data: <%= to_morris_data(@provinces) %>
})
Morris.Donut({
  element: 'genders',
  data: <%= to_morris_data(@genders) %>
})
</script>
<%= @counter %>
<%= @res %>
<% @users_by_statuses.each do |user|%>
  <p class='user_statuses'>
    <%= link_to image_tag(user['profile_image_url']), "http://weibo.com/#{user['profile_url']}" %>
    <%= link_to user['screen_name'], "http://weibo.com/#{user['profile_url']}"%>
    状态数
    <%= user['statuses_count'] %>
  </p>
<% end %>
<div id="page-selection">
</div>
<% @users_by_followers.each do |user|%>
  <p class='user_followers'>
    <%= link_to image_tag(user['profile_image_url']), "http://weibo.com/#{user['profile_url']}" %>
    <%= link_to user['screen_name'], "http://weibo.com/#{user['profile_url']}"%>
    粉丝数
    <%= user['followers_count'] %>
  </p>
<% end %>

      </div>
</div>
<div id='user_statuses_content'>
</div>
<script>
  $('#page-selection').bootpag({
      total: <%= (@counter / 10.0).ceil %>
  }).on("page", function(event, num){
      $(".user_statuses").css("display","none");
      $(".user_statuses").slice((num-1)*10, num*10).css("display","");
  });
      $(".user_statuses").css("display","none");
      $(".user_statuses").slice(0, 10).css("display","");
</script>
