<button type="button" class='continue'>abc</button>
<div id="donut-example" style="height: 250px;"></div>
欢迎<%=@res['screen_name'] %>
注册于 <%= @res['created_at'] %>
<ul>
  <li><%= link_to '分析我关注的人', friends_path %></li>
  <li><%= link_to '分析关注我的人', followers_path %></li>
  <li><%= link_to '微博分析', statuses_path %></li>
</ul>
<script> 
$("button.continue").html("Next Step...")
</script>
<script>
Morris.Donut({
      element: 'donut-example',
        data: [
            {label: "Download Sales", value: 12},
                {label: "In-Store Sales", value: 30},
                    {label: "Mail-Order Sales", value: 20}
                      ]
                      });

</script>
